.main.content{
    display: flex;
    position: relative;
    background-color: #f2f2f2;
}

.main-content-table{
    display: flex;
    position: relative;
    justify-content: center;
}

.main-content-title{
    display: flex;
    font-size: 5rem;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

div.skills-section>span{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

div.skills-section>span>img{
    display: flex;
    justify-content: center;
    height: 5vw;
    width: 50%;
}

.skills-section{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25vw;
    margin-top: 5rem;
    height: 100%;
    justify-content: center;
    padding-bottom: 10rem;
}

.skills-table{
    text-align: center;
    height: 100%;
}

.skills-thead{
    font-size: 2rem;
    font-weight: 700;
}

thead.skills-thead>tr>td{
    padding-bottom: 3rem;
}

.skills-tbody{
    font-size: 1rem;
}

tbody.skills-tbody>tr>td{
    padding-bottom: 0.5rem;
}

.main-content-portfolio{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 5rem;
}

.flex-break-portfolio{
    flex-basis: 100%;
    height: 0;
}

.container-portfolio{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.portfolio-projects-list{
    display: flex;
    position: relative;

}

.projects-list-table{
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
}

.projects-list-tbody{
    font-size: 1rem;
}

tbody.projects-list-tbody>tr{
    border-width: 1px;
    border-style:solid;
    border-left: hidden;
    border-right: hidden;
}

tbody.projects-list-tbody>tr>td{
    padding: 4vw;
}

tbody.projects-list-tbody>tr:hover{
    background-color: #EFC72E ;
    cursor: pointer;
}

.active-project{
    background-color: #EFC72E;
}

.project-display{
    position: relative;
    width: 60vw;
    margin-left: 5vw;
}

div.project-display>img{
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .main-content-title{
        font-size: 2rem;
    }


}

@media screen and (max-width: 720px) {
    .main-content-table{
        flex-wrap: wrap;
    }

    .flex-break-skills{
        flex-basis: 100%;
        height: 0;
    }

    .skills-section{
        width: 50vw;
        margin-top: 2rem;
        padding-bottom: 2rem;
    }

    div.skills-section>span>img{
        height: 10vw;
        width: 100%;
    }

    .projects-list-tbody{
        display: flex;
    }

    .container-portfolio{
        flex-wrap: wrap;
    }

    .flex-break-projects{
        flex-basis: 100%;
        height: 1rem;
    }

    .project-display{
        width: 100vw;
        margin-left: 0;
    }
}
